@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
/* reset css나 tailwind css같은 전역 스타일링 */
@import "tailwindcss";
/* tailwind css reset */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

/* custom styling */
@theme {
  --color-mred-500: oklch(0.53 0.1696 23.95);
  --color-mred-600: oklch(0.43 0.18 23.95);
  --color-mgreen-500: oklch(0.6 0.0938 174.44);
  --color-mgreen-600: oklch(0.5 0.12 174.44);
  --color-myellow-500: oklch(0.89 0.1309 97.02);
  --color-myellow-600: oklch(0.79 0.15 97.02);
  --color-mblack-500: oklch(0.07 0 0);
  --color-mblue-500: oklch(0.55 0.0992 254.72);
  --color-mblue-600: oklch(0.45 0.12 254.72);
  --font-inter: "Inter", "san-serif";
  --breakpoint-xs: 32rem;
  --breakpoint-xxs: 22.5rem;
}

/* layer - adding utilities class */
/* base - adding html element common styling */
@layer base {
  :root {
    --color-mred-500: oklch(0.53 0.1696 23.95);
    --color-mred-600: oklch(0.43 0.18 23.95);
    --color-mgreen-500: oklch(0.6 0.0938 174.44);
    --color-mgreen-600: oklch(0.5 0.12 174.44);
    --color-myellow-500: oklch(0.89 0.1309 97.02);
    --color-myellow-600: oklch(0.79 0.15 97.02);
    --color-mblack-500: oklch(0.07 0 0);
    --color-mblue-500: oklch(0.55 0.0992 254.72);
    --color-mblue-600: oklch(0.45 0.12 254.72);
  }
  p,
  a {
    font-family: var(--font-inter);
    line-height: 1;
  }
  a {
    display: block;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 900;
    line-height: 1;
  }
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4.5rem;
  }
  h3 {
    font-size: 3.75rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 1.875rem;
  }
  @media (max-width: 1280px) {
    h1 {
      font-size: 4.5rem;
    }
    h2 {
      font-size: 3.75rem;
    }
    h3 {
      font-size: 3.25rem;
    }
  }
  @media (max-width: 640px) {
    h1 {
      font-size: 4rem;
    }
    h3 {
      font-size: 3rem;
    }
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 3.75rem;
    }
    h3 {
      font-size: 2.75rem;
    }
  }
  @media (max-width: 440px) {
    h1 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2.5rem;
    }
  }
}
/* utility - adding new class styling or extend exist class styling*/
/* @layer utilities { */
.font-russo {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}
.menu-btn {
  color: white;
  font-size: 3rem;
  -webkit-text-stroke: 2px var(--color-mgreen-500);
  transform: rotate(90deg);
  transform-origin: right center;
  top: 160px;
  right: 60px;
}
@media (max-width: 1280px) {
  .menu-btn {
    font-size: 2.5rem;
    top: 140px;
    right: 50px;
  }
}
@media (max-width: 640px) {
  .menu-btn {
    top: 120px;
    right: 36px;
  }
}
.menu-btn:hover {
  color: var(--color-mgreen-500);
  transition: all ease 0.7s;
}
.typing-text {
  position: relative; /* ::after 사용할 때 거의 필수 */
}
.typingtxt::after {
  content: "|";
  display: inline-block;
  margin-left: 2px;
  width: 1ch;
  /* color: var(--color-mgreen-500); */
  animation: blink 1s steps(1) infinite;
}
.menu-close {
  cursor: pointer;
  color: transparent;
  -webkit-text-stroke: 2px var(--color-slate-200);
  transform: rotate(90deg) translateY(-150%);
  right: 0;
  top: 0;
  transform-origin: left bottom;
  font-size: 3rem;
}
@media (max-width: 1280px) {
  .menu-close {
    font-size: 2.5rem;
  }
}
@media (max-width: 640px) {
  .menu-close {
    top: -20px;
    right: -10px;
  }
}
.menu-close:hover {
  color: var(--color-slate-200);
  transition: all ease 0.7s;
}
.nav.outline {
  color: transparent;
  -webkit-text-stroke: 2px var(--color-slate-200);
  -webkit-font-smoothing: antialiased;
}
.nav::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: var(--color-slate-200);
}
.nav:hover::after {
  width: 100%;
  transition: all ease 0.7s;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.contact-heading {
  width: calc(100% - 72px);
}
.contact-page {
  transform: translateY(-50%);
  margin-left: calc(50% - 36px);
}
@media (max-width: 768px) {
  .contact-page {
    margin-left: 0;
    transform: translateX(-50%) translateY(-50%);
  }
}
/* page */
@media (max-width: 640px) {
  .page-wrap {
    display: flex;
    align-items: center;
  }
  nav.page-wrap,
  .page-wrap.aboutPage {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    column-gap: 3rem;
  }
}
